@media only screen and (min-width: 64rem){

    #cards-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    #cards-container h1 {
        grid-column: 1 / -1;
        margin-bottom: 10px;
    }
}