@media only screen and (min-width: 38rem) {

    .message {
        display: block;
    }

    #cards-container section {
        grid-template-areas:
            "image name"
            "image description"
            "image address";
    }

    #cards-container button {
        padding: 8px 8px;
        font-family: var(--body-font);
        width: 150px;
        height: 50px;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
        transition: transform 0.3s ease, filter 0.3s ease;;
    }

    #cards-container h2 {
        align-items: center;
        margin: 40px auto;
        width: 100%;
    }

    #cards-container section img {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 300px;
    }

        #cards-container img {
            transition: transform 0.3s ease, filter 0.3s ease;
        }
    
        #cards-container img:hover {
            transform: scale(1.05s);
            filter: brightness(1.1);
        }

        #cards-container button {
            transition: transform 0.3s ease, filter 0.3s ease;
        }
}