/* ---- GLOBAL STYLES ---- */

:root {
    --primary-color: rgb(12, 77, 12); /*header, footer and section dividers*/
    --secondary-color: #8B4513 ; /* hover, borders and image overlays*/
    --background-color: #F5F2EB;
    --text-color: black;
    --color: #ffffff;
    --font-family: Verdana, Geneva, Tahoma, sans-serif;
    --body-font:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    --box-shadow: 0 0 15px #808080;
    --border: #ddd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---- HEADER ---- */

header {
    display: grid;
    background-color: var(--primary-color);
    grid-template-columns: 24px auto 44px;
    width: 100%;
    padding: 5px 0 5px 10px;
    align-items: center;
    border-bottom: solid 1px var(--border);
    column-gap: 10px;
    padding-bottom: 5px;
    font-family: var(--font-family);
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.2rem;
    color: var(--color);
    font-weight: bold;
}

/* ---- HAMBURGER ---- */

.hamburger {
    background: none;
    border: none;
    color: var(--color);
    cursor: pointer;
    font-size: 2rem;
    display: block;
    padding: 0;
    width: 44px;
    height: 44px;
    line-height: 1;
}

.hamburger::before {
    content: "\2630";
    font-size: 1.5rem;
}

.hamburger.show::before {
    content: "\00D7";
}

/* ---- NAVIGATION ----*/

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    text-align: center;
    color: var(--text-color);
    font-family: var(--body-font);
    text-decoration: none;
    border-bottom: solid 1px var(--border);
}

.navigation li.current {
    text-decoration: underline;
}

.navigation a:hover {
    background-color: var(--border);
    color: var(--primary-color);
}

/* ---- MENU ---- */

.list img {
    display: none;
}

.list span {
    display: none;
}

/* ---- MAIN ----*/

h1 {
    font-family: var(--font-family);
}

h2 {
    align-items: center;
    text-align: center;
    background-color: var(--secondary-color);
    border-radius: 8px;
    font-family: var(--body-font);
    color: var(--color);
    padding: 5px;
    margin: 5px 0;
}

section p {
    font-family: var(--body-font);
    margin: 5px 0;
}

section {
    padding: 10px;
    margin: 8px;
    font-size: small;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
}

h2, p {
    padding: 5px;
    margin: 5px 0;
}

section span {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 5px;
    align-items: center;
    gap: 1rem;
}

.company {
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: center;
}

/* ---- INDEX ---- */

.call-to-action h2 {
    background-color: var(--primary-color);
    color: var(--color);
    padding: 12px;
}

a {
    text-decoration: none;
}

.call-to-action h2:hover {
    background-color: var(--border);
    color: var(--primary-color);
}

picture {
    display: block;
    width: 100%;
}

picture img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
}

.info {
    display: grid;
}

.info h2 {
    color: var(--text-color);
    background-color: var(--color);
    text-align: start;
}

.current-events {
    display: grid;
    grid-template-columns: 1fr;
    padding: 16px;
    row-gap: 20px;
}

.events {
    padding: 15px;
    border-bottom: var(--secondary-color);
}

.events h2{
    color: var(--text-color);
    background-color: var(--background-color);
    text-align: start;
    font-size: 1.5rem;
}

.events p {
    font-size: medium;
}

.event-card {
    border-left: 5px solid var(--secondary-color);
    border-radius: 6px;
    background-color: var(--background-color);
}

.card {
    background-color: var(--background-color);
    color: var(--color);
    border-radius: 10px;
    padding: 6px 12px;
    text-align: center;
}

.card h3 {
    background-color: var(--secondary-color);
    padding: 6px 12px;
    border-radius: 6px;
    font-family: var(--font-family);
    color: var(--color);
    margin: .3rem 0;
}

.card #description {
    text-transform: capitalize;
    font-family: var(--font-family);
    font-size: medium;
    color: var(--text-color);
    margin: .3rem 0;
}

.card #temperature {
    font-size: 2rem;
    color: var(--text-color);
    margin: .3rem 0;
}

.forecast {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--background-color);
    gap: 15px;
    margin-top: 20px;
    padding: 10px;
    border: 5px;
    text-align: center;
    min-width: 100px;
    box-shadow: none;
}

.forecast p {
    font-family: var(--font-family);
    font-size: medium;
}

.forecast h3 {
    font-family: var(--font-family);
    font-size: large;
}

.weather {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.spotlight-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.75rem;
}

.member-card {
    border: 1px solid var(--border);
    border-radius: 10px;
    padding: 1rem;
    background-color: var(--background-color);
    border-left: 8px solid var(--secondary-color);
    font-size: large;
    text-align: center;
}

.member-card h3 {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    margin-bottom: 2rem;
}

.member-card a {
    display: inline-block;
    color: var(--color);
    background-color: var(--primary-color);
    font-family: var(--body-font);
    padding: 6px 12px;
    margin: 1rem 0;
    border-radius: 8px;
}

.member-card a:hover {
    background-color: var(--border);
    color: var(--primary-color);
}

/* ---- MENU ---- */

.menu {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    column-gap: 10px;
    padding: 0.5rem;
    text-align: center;
}

button {
    padding: 1rem 5rem;
    font-family: var(--body-font);
    font-weight: bolder;
    border-radius: 8px;
    border: var(--color);
    color: var(--color);
    background-color: var(--secondary-color);
}

button li.current {
    text-decoration: underline;
}

button a:hover {
    background-color: var(--border);
    color: var(--primary-color);
}

/* ---- FORM ---- */

form {

    margin: 1rem 2%;
}

label {
    display: block;
    font-size: .8rem;
    color: var(--text-color);
    font-family: var(--body-font);
    padding-top: .2rem;
}

form h2 {
    color: var(--text-color);
    text-align: start;
}

h3 {
    font-size: .9rem;
    color: var(--text-color);
    margin: 1.5rem 0 .2rem 0;
    border-bottom: 1px solid #eee;
}

input[type=text],
input[type=tel],
input[type=date],
input[type=email],
select {
    display: block;
    margin: .1rem 0 1rem 0;
    padding: .3rem;
    border: 1px solid #999;
    border-radius: 4px;
    border-left-width: 5px;
    border-left-color: var(--primary-color);
    font-size: 1rem;
    color: #3D405B;
    width: 300px;
}

input:required {
    border-left-color: var(--secondary-color);
}

input:focus {
    border-left-color: var(--text-color);
    outline: none;
}

input:required:valid {
    border-left-color: green;
}

input[type=submit] {
    border: none;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--color);
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 2rem 0;
    font-size: 1.2rem;
    font-family: var(--font-family);
    -webkit-appearance: none;
    appearance: none;
}

input[type=submit]:hover {
    background-color: var(--border);
    color: var(--primary-color);
}

fieldset, label, fieldset p{
    display: block;
    font-size: 1.1rem;
    text-align: left;
    margin: 0.75rem;
}

fieldset {
    padding: 15px;
    margin: 8px;
    background-color: var(--background-color);
    border-radius: .5rem;
    border: var(--border);
}

textarea {
    width: 100%;
    box-sizing: border-box;
    border-left-width: 5px;
    border-left-color: var(--secondary-color);
    border-radius: .4rem;
}

legend {
    display: block;
    font-weight: bold;
    font-family: var(--font-family);
    text-align: left;
    margin: 0 0 0 1rem;
    font-size: 1.5rem;
}


input:-webkit-autofill {
    -webkit-text-fill-color: #3D405B;
}

#results {
    background-color: var(--background-color);
    padding: 1rem;
    margin: 1rem 1rem 1rem 1rem;
    border: var(--border);
    border-radius: 6px;
    font-family: var(--body-font);
}

/* ---- MEMBERSHIP ---- */

#join {
    display: grid;
    grid-template-columns: 1fr;
}

#submit {
    margin: .5rem 5px;
    padding: 0.5rem 1rem;
    font-size: 1.6rem;
    background-color: var(--background-color);
    font-family: var(--body-font);
    color: var(--color);
    border: none;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
}

#submit:hover {
    background-color: var(--secondary-color);
    color: var(--secondary-color);
    cursor: pointer;
}

.open-btn {
    font-size: 1.2rem;
    margin: 0 auto;
    width: 75%;
}

.open-btn:hover {
    background-color: var(--background-color);
    cursor: pointer;
}

@keyframes card-appear {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.card {
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem .5rem;
    padding: .5rem;
    place-items: center;
    background-color: var(--color);
    color: var(--nav-text-color);
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    animation: card-appear 1s ease-out backwards;
}

#gold-card {
    background-color: rgb(142, 125, 29);
    color: var(--text-color);
    animation-delay: 0s;
}

#gold-card h2 {
    background-color: rgb(142, 125, 29);
    color: var(--text-color);
}

#silver-card {
    background-color: #7b7b7b;
    color: var(--font-color);
    animation-delay: .25s;
}

#silver-card h2 {
    background-color: #7b7b7b;
    color: var(--text-color);
}

#bronze-card {
    background-color: #82651c;
    color: var(--text-color);
    animation-delay: .5s;
}

#bronze-card h2 {
    background-color: #82651c;
}

#np-card {
    animation-delay: .75s;
}

#np-card h2 {
    background-color: var(--color);
    color: var(--text-color);
}

.profile {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    aspect-ratio: 4/5;
}

/* --- Dialog Box --- */
dialog {
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 1rem;
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    width: 80%;
    max-width: 600px;
    margin: auto;
}

dialog button {
    width: 44px;
    height: 44px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    border-radius: 5px;
    border: 1px solid var(--border);
    background-color: var(--secondary-color);
    box-shadow: 0 0 10px #808080;
    color: var(--color);
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

dialog button:hover {
    background-color: var(--background-color);
    color: var(--secondary-color);
    cursor: pointer;
}

.member-modal {
    text-align: left;
    background-color: var(--background-color);
    padding: 5px;
}

.member-modal h2 {
    text-align: center;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    border: none;
}

.member-modal h2,
li {
    padding: 2px 10px;
    font-family: var(--body-font);
}

.card-container button {
    margin: 0;
    border-radius: 5px;
    font-family: var(--body-font);
    box-shadow: var(--box-shadow);
    border: none;
}

.card-container button:hover {
    background-color: var(--border);
    color: var(--secondary-color);
}

.card-container {
    box-shadow: none;
    background-color: var(--background-color);
}

.member-modal p {
    padding: 10px;
    color: var(--text-color);
}

#modal-gold h2 {
    background-color: rgb(142, 125, 29);
    color: var(--font-color);
}

#modal-silver h2 {
    background-color: #7b7b7b;
    color: var(--font-color);
}

#modal-bronze h2 {
    background-color: #82651c;
    color: var(--background-color);
}

#modal-np h2 {
    background-color: var(--background-color);
    color: var(--text-color);
}

::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}


/* ---- FOOTER ---- */

footer {
    padding: 1rem 10px;
    text-align: center;
    background-color: var(--primary-color);
    font-family: var(--font-family);
    color: var(--color);
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: block;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: var(--border);
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: var(--secondary-color);
}