/* ---- COLOUR SCHEME ---- */

:root {
    --body-font: 'Roboto', sans-serif;
        --primary-color: #8B4513; /*Header, footer, and section divider*/
        --secondary-color: white; /* text*/
        --tertiary-color: #D2691E; /* hover, borders and image overlays*/
        --background-color: #F5F2EB; /*Main page body */
        --accent-color: #5C3E2B; /*Buttons*/
        --color: #2B1E16;
        --font-family: Verdana, Geneva, Tahoma, sans-serif;/*Site name*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ---- Header ---- */

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
    padding-bottom: 5px;
    font-family: var();
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.1rem;
    color: black;
}

/* ---- HAMBUGER ---- */

.hamburger {
    background: none;
    border: none;
    color: black;
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
    font-size: 1.5rem;
}

.hamburger.show::before {
    content: "\00D7";
}

/* ---- NAVIGATION ---- */

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: #3D405B;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation li.current {
    background-color: #eee;
}

.navigation a:hover {
    background-color: #ddd;
}

h1 {
    margin-left: 10px;
    font-family: var(--body-font);
}

/* ---- MAIN ---- */

.profile-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
}

.profile-grid section {
    background-color: var(--background-color);
    
}

.card {
    background-color: var(--background-color);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
}

.card h2 {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    margin: 0;
    padding: 12px;
    text-align: center;
    font-size: 1rem;
}

.photo {
    justify-content: center;
}

.card p, .card .photo {
    padding: 1.5rem;
}

/* ---- WEB BUTTONS ---- */
.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 15px 0;
}

.buttons button {
    background-color: var(--accent-color);
    color: var(--secondary-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.buttons button.active-btn {
    background-color: var(--tertiary-color);
}

.course-count {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.course-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 1rem;
}


.course-card {
    display: grid;
    gap: 5px;
    padding: 1rem;
    border-left: 5px solid var(--tertiary-color);
}

.course-card.completed {
    border-radius: 20px;
    color: var(--color);
}

/* ---- FOOTER ---- */

footer {
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: block;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #ddd;
}
