/* ---- GLOOBAL STYLES ---- */

:root {
    --body-font: 'Roboto', sans-serif;
    --primary-color: #8B4513; /*Header, footer, and section divider*/
    --secondary-color: white; /* text*/
    --tertiary-color: #bb672c; /* hover, borders and image overlays*/
    --background-color: #F5F2EB; /*Main page body */
    --accent-color: #5C3E2B; /*Buttons*/
    --color: #2B1E16;
    --font-family: Verdana, Geneva, Tahoma, sans-serif;/*Site name*/
    --box-shadow: 0 0 15px #808080;
    --border-bottom: #ddd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation, footer {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    font-family: var(--body-font);
}

/* ---- Header ---- */

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
    padding-bottom: 5px;
    font-family: var(--font-family);
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.2rem;
    color: black;
    font-weight: bold;
}

/* ---- HAMBUGER ---- */

.hamburger {
    background: none;
    border: none;
    color: var(--color);
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
    font-size: 1.5rem;
}

.hamburger.show::before {
    content: "\00D7";
}

/* ---- NAVIGATION ---- */

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    text-align: center;
    color: var(--secondary-color);
    text-decoration: none;
    border-bottom: solid 1px var(--border-bottom);
}

.navigation li.current {
    text-decoration: underline;
}

.navigation a:hover {
    background-color: var(--border-bottom);
    color: var(--primary-color);
}

h1 {
    margin-left: 10px;
    font-family: var(--body-font);
}

/* ---- BODY ---- */

body {
    font-family: var(--body-font);
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    color: var(--color);
}

section {
    padding: 15px;
    margin: 8px;
}

h2, p, #course-list, #course-list a, figure {
    padding: 5px;
    margin: 8px 0;
}

section,
.profile,
h2,
#course-list a,
figure {
    box-shadow: var(--box-shadow);
    border-radius: 5px;
}

section,
.profile,
figure {
    background-color: var(--background-color);
}

/* ---- LAYOUT ---- */

h2 {
    align-items: center;
    text-align: center;
    background-color: var(--accent-color);
    color: var(--secondary-color);
}

/* ---- WEB BUTTONS ---- */

.course p {
    align-content: center;
    text-align: center;
}

.course ul li p {
    text-align: left;
}

#course-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    column-gap: 8px;
    list-style-type: none;
}

#course-list a {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 44px;
    border: none;
    text-decoration: none;
    background-color: var(--background-color);
    font-family: var(--body-font);
    color: var(--color);
    font-size: 1.25em;
}

#course-list a:hover {
    background-color: var(--background-color);
    color: var(--color);
}

#course-list li.active {
    text-decoration: underline;
}

.completed-course h2::before {
    content: " \2714";
    color: var(--secondary-color);
    margin-right: 15px;
}

.profile {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    aspect-ratio: 3/2;
}

/* ---- FOOTER ---- */

footer {
    padding: 1rem 10px;
    text-align: center;
    
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: block;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #ddd;
}

